%h2 住所情報登録
= form_for @address do |f|
  = render "devise/shared/error_messages", resource: @address
  .field
    = f.label "姓"
    %br/
    = f.text_field :first_name
  .field
    = f.label "姓(かな)"
    %br/
    = f.text_field :first_name_kana
  .field
    = f.label "名"
    %br/
    = f.text_field :last_name
  .field
    = f.label "名(かな)"
    %br/
    = f.text_field :last_name_kana
  .field
    = f.label "郵便番号"
    %br/
    = f.text_field :postal

  .field
    = f.label "都道府県"
    %br/
    = f.text_field :prefecture

  .field
    = f.label "市区町村"
    %br/
    = f.text_field :municipality
  .field
    = f.label "番地"
    %br/
    = f.text_field :address

  .field
    = f.label "マンションやビル名(任意)"
    %br/
    = f.text_field :discription
  .field
    = f.label "電話番号(任意)"
    %br/
    = f.text_field :phone_number


  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
