.listing_main
  .listing_header
    = image_tag 'http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg'
  .listing_body
    %h2 商品情報を入力
    = form_with model: @item, local: true do |f|
      %label
      .listing_box
        .listing_box_field
          %label-item 出品画像
          %span-item 必須
          %br
        %label.listing_previews_filed
          = icon('fas', 'camera')
          #previews
            - if @item.persisted?
              - @item.images.each_with_index do |image, i|
                = image_tag image.img.url, data: { index: i }, width: "100", height: '100'
          #image-box
            = f.fields_for :images do |image|
              .js-file_group{"data-index" => "#{image.index}"}
              = image.file_field :img, class: 'js-file' 
              %br/
              .js-file_group{"data-index" => "#{image.index}"}
              = image.file_field :img, class: 'js-file' 
              %br/
        -# .listing_image_form_fild
        -#   = f.fields_for :images do |i|
        -#     .img_box_boxs
        -#       .img_box1
        -#       -# .img_box2
        -#       -# .img_box3
        -#       -# .img_box4
        -#       -# .img_box5
        -#     .photo_form_box
        -#       .photo_display1
        -#         = i.label :img, class: "image_label1", for: "image", id: "photo"  do
        -#           = i.file_field :img, name: "item[photos_attributes][0][img]", multipart: true, class: "file_field1", id: "image", style: "display: none"
        -#           選択
        -#         .remove_btn1
        -#           削除
              -# .photo_display2
              -#   = i.label  :img, class: "image_label2", for: "image2", id: "photo2" do
              -#     = i.file_field :img, name: "item[photos_attributes][1][img]", multipart: true, class: "file_field2", id: "image2", style: "display: none"
              -#     選択
              -#   .remove_btn2
              -#     削除
              -# .photo_display3
              -#   = i.label :img, class: "image_label3", for: "image3", id: "photo3" do
              -#     = i.file_field :img, name: "item[photos_attributes][2][img]", multipart: true, class: "file_field3", id: "image3", style: "display: none"
              -#     選択
              -#   .remove_btn3
              -#     削除
              -# .photo_display4
              -#   = i.label :img, class: "image_label4", for: "image4", id: "photo4" do
              -#     = i.file_field :img, name: "item[photos_attributes][3][img]", multipart: true, class: "file_field4", id: "image4", style: "display: none"
              -#     選択
              -#   .remove_btn4
              -#     削除
              -# .photo_display5
              -#   = i.label :img, class: "image_label5", for: "image5", id: "photo5" do
              -#     = i.file_field :img, name: "item[photos_attributes][4][img]", multipart: true, class: "file_field5", id: "image5", style: "display: none"
              -#     選択
              -#   .remove_btn5
              -#     削除
      .listing_name_box
        .listing_name_box_field
          %label-item 商品名
          %span-item 必須
          %br/
        = f.text_field :name, placeholder: "40文字まで"
        .listing_ex_box_field
          %label-item 商品説明
          %span-item 必須
          %br/
        = f.text_area :text, placeholder: "\n   商品の説明（必須 1000文字以内）\n      (色、素材、重さ、注意点など) \n\n   例） 2010年頃に1万円で購入したジャケットです。 ライトグレーで傷はありま\n   せん。合わせやすいのでおすすめです。\n\n"
      .listing_details_box
        .listing_details_box_field
          %label-items 商品の詳細
          %br/
        .listing_details_box_category
          .listing_details_box_category_field
            %br/
            %label-item カテゴリー
            %span-item 必須
          .listing-select-wrapper
            .listing-select-wrapper__box
              = f.select :category, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
        .listing_details_box_status
          %label-item 商品の状態
          %span-item 必須
          %br/
        = f.collection_select :status, Condition.all, :name, :name, {}, prompt: "---"
      .listing_delivary_box
        .listing_delivary_box_field
          %label-items 配送について
          %br/
        .listing_delivary_box_fee
          %label-item 配送料の負担
          %span-item 必須
          %br/
        = f.collection_select :delivery_fee, Burden.all, :name, :name, {}, prompt: "---"
        .listing_delivary_box_area
          %label-item 発送元の地域 
          %span-item 必須
          %br/
        = f.collection_select :from_area, Prefecture.all, :name, :name, {}, prompt: "---"
        .listing_delivary_box_shipping
          %label-item 発送までの日数
          %span-item 必須
          %br/
        = f.collection_select :shipping_day, Shipday.all, :name, :name, {}, prompt: "---"
      .listing_price_box
        .listing_price_box_field
          %label-items 価格（¥300〜9,999,999）
          %br/
        .listing_price_box_area
          .listing_price_box_price
            %label-item 販売価格
            %span-item 必須
          .listing_price_input_area1
            %span-items ¥
            %input#price_calc.price_form-box{placeholder: "0", type: "number"}/
        .listing_price_box_area2
          .listing_price_fee
            販売手数料(10%)
          .listing_right_bar
        .listing_price_box_area3
          .product_profit
            販売利益
          = f.number_field :price, style: "display: none", id: "price"
          .listing_right_bar_2
        .listing_submit
          = f.submit '出品する'
          %br/
          .listing_submit2
            =link_to "戻る", root_path
  .listing_footer