= render "users/top_header"
%nav.breadCrumbs
  %ul
    %li
      = link_to 'FURIMA', '#'
    %li
      %i.fas.fa-angle-right
    %li
      = link_to 'ベビー・キッズ', '#'
    %li
      %i.fas.fa-angle-right
    %li
      = link_to 'ベビー服(男女兼用) ~95cm', '#'
    %li
      %i.fas.fa-angle-right
    %li
      = link_to 'アウター', '#'
    %li
      %i.fas.fa-angle-right
    %li
      %p
        = @item.name
.main
  .showMain
    .contentLeftpp
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name
            = @item.name
          .itemBox__body
            %ul
              %li
            
                -# - objects = @item.images
                -# - objects.each.with_index do |object, index|
                -#   = image_tag object.img_url
                = image_tag @item.images[0].img_url
                  
                %ul
                  %li
                    - if @item.images[1]
                      = image_tag @item.images[1].img_url, height: '75', width: '75'
                  %li
                    - if @item.images[2]
                      = image_tag @item.images[2].img_url, height: '75', width: '75'
                  %li
                    - if @item.images[3]
                      = image_tag @item.images[3].img_url, height: '75', width: '75'
          .itemBox__price
            %span
              = "¥#{@item.price.to_s}"
              
            .itemBox__price--detail
              %span
                (税込)
              %span
                送料込み
          .itemDetaill
            = @item.text
            
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td 
                    = @user.nickname
                %tr
                  %th カテゴリー
                  %td
                    = link_to "#{@item.category.name}", '#'
                      
                    %br
                    = link_to ">#{@item.category.name}", '#'
                      
                    %br
                    = link_to ">#{@item.category.name}",'#'
                    %br
                %tr
                  %th ブランド
                  %td
                    
                %tr
                  %th 商品のサイズ
                  %td 
                    
                %tr
                  %th 商品の状態
                  %td
                    = @item.status
                %tr
                  %th 配送料の負担
                  %td 
                    = @item.delivery_fee
                %tr
                  %th 発送元の地域
                  %td
                    = @address.prefecture
                %tr
                  %th 発送日の目安
                  %td 
                    = @item.shipping_day
          .optionalArea
            %ul
              %li#likeBtn.optionalBtn.likeBtn
                %i.fas.fa-star
                  お気に入り 0
            %ul.optional
              %li.optionalBtn
                = link_to '#' do
                  %i.fas.fa-flag
                    不適切な商品の通報

        - if user_signed_in? && current_user.id == @item.user_id 
          .EditAndDestroy
            .edit-btn
              = link_to '編集する', "/items/#{@item.id}/edit", method: :get
            .delete-btn
              = link_to '出品を削除する', "/items/#{@item.id}", method: :delete
        
        .commentBox
          .comments
            - if @comments
              - @comments.each do |comment|
                %p
                  %strong
                    = link_to comment.user.nickname, "/users/#{comment.user_id}"
                    ：
                  = comment.text


          %ul.commentBox__contents
          - if current_user
            %form.new_comment{action: "#", method: "post"}
              %input{name: 'utf8', type: 'hidden', value: '✓'}
              %input{type: 'hidden', name: 'authenticity_token', value: 'gSPUqFq58bpRFqcxJjrtSPEDsMjekWGYQkg+pPeMK8leu2XUgdCiCDZJ209wGqkoxX7OI5eQoWvlGrkxoZaaUg=='}
              %textarea#comment_body{required: 'required', name: 'comment[body]'}
            %p.noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %button.commentBtn{name: 'button', type: 'submit'}
              %i.fas.fa-comment
                コメントする
          - else
            %strong
              %p  商品の購入、コメントの投稿には新規登録/ログインが必要です 
          %br
          %br
          - if user_signed_in? && current_user.id != @item.user_id && @item.buyer_id == nil
            .buy-button
              = form_tag("/items/confilm/#{@item.id}", method: :get, id: @item.id) do
                %button.buy 購入確認画面へ

      %ul.links
        %li
          = link_to '#' do
            %i.fas.fa-angle-left
            %span
            前の商品
        %li
          = link_to '#' do
            %span
            後ろの商品
            %i.fas.fa-angle-right
      .relatedItems
        = link_to 'ベビー・キッズをもっと見る', '#'
        .productLists
= render "users/footer_top"